* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #2C3E4C; /*Spruce Blue*/
}

h1 {
  color: #FFFFFF;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 50px;
  margin: 0;
  text-shadow: 2px 0 #000000,
      -2px 0 #000000,
      0 2px #000000,
      0 -2px #000000,
      1px 1px #000000,
      -1px -1px #000000,
      1px -1px #000000,
      -1px 1px #000000;
}

h3 {
  margin: 5px;
}

span {
  font-family: "Comic Sans MS", "Comic Sans", bold;
  text-shadow: 2px 0 #000000,
    -2px 0 #000000,
    0 2px #000000,
    0 -2px #000000,
    1px 1px #000000,
    -1px -1px #000000,
    1px -1px #000000,
    -1px 1px #000000;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

p {
  margin: 7px;
}

.hjem {
  align-items: center;
  left: auto;
  right: auto;
  text-align: center;
}

.knapp {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 7px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.numberInput {
  width: 4em;
}

.textSpan {
  color: #FFFFFF;
}

.buttonSpan {
  position: relative;
  z-index: 1;
}

.speedName {
  width: 76px;
}

.gameDiv {
  text-align: center;
}

.canvasDiv {
  background-color: #D3D3D3;
  border-color: #000000;
  border-radius: 8px;
  border-style: solid;
  border-width: 5px;
  float: left;
  overflow: hidden;
  min-width: fit-content;
  margin-left: 100px;
  border-spacing: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  display: block;
}

.board {
  display: block;
  float: none;
}

.infoDiv {
  float: none;
  overflow: hidden;
  max-width: 500px;
  min-width: 150px;
}

.infoP {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.aliveCellTD {
  font-size: 1.17em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  padding-top: 10px;
}

/* Button style thanks to: https://codepen.io/nuhmanpk/pen/XWqBrae */

:root {
    --clr: #0FF0FC;
}

button {
  position: relative;
  background: #444444;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}

button:hover {
  background: var(--clr);
  color: var(--clr);
  animation: box 3s infinite;
}

button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

@keyframes box {
  0% {
    box-shadow: #27272C;
  }

  50% {
    box-shadow: 0 0 25px var(--clr);
  }

  100% {
    box-shadow: #27272C;
  }
}